table {
    width: 500px;
    height: 249px;
}
th {
    height: 35px;
}
table,
td,th {
    border: 1px solid rgb(204, 67, 13);
    /* 合并相邻边框 */
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}